<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#addItemModal">
  <span class="fa fa-plus" /> Add new item
</button>

<table class="table table-responsive table-striped">
  <thead>
    <th></th>
    <th>name</th>
    <th>price</th>
    <th>calories</th>
    <th>protein</th>
    <th>fat</th>
    <th>carbohydrates</th>
  </thead>
  <tbody>
    <tr ng-repeat="item in items">
      <td><button class="btn btn-danger" ng-click="ManageFoodDir.removeFromAllFood(item)" type="button"><span class="fa fa-close" /></button></td>
      <td ng-bind="item.name" />
      <td ng-bind="item.price" />
      <td ng-bind="item.calories" />
      <td ng-bind="item.protein" />
      <td ng-bind="item.fat" />
      <td ng-bind="item.carbohydrates" />
      </tr>
  </tbody>
</table>




<div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add new item</h4>
      </div>
      <form class="form-horizontal" ng-submit="ManageFoodDir.addToAllFood(newItem)">
        <div class="modal-body">
            <fieldset>
              <div class="form-group">
                <label class="col-md-4 control-label">Name</label>
                <div class="col-md-4">
                <input type="text" required ng-model="newItem.name" class="form-control input-md">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label">Price</label>
                <div class="col-md-4">
                <input type="number" required ng-model="newItem.price" class="form-control input-md">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label">Calories</label>
                <div class="col-md-4">
                <input type="number" required ng-model="newItem.calories" class="form-control input-md">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label">Protein</label>
                <div class="col-md-4">
                <input type="number" required ng-model="newItem.protein" class="form-control input-md">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label">Fat</label>
                <div class="col-md-4">
                <input type="number" required ng-model="newItem.fat" class="form-control input-md">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label">Carbohydrates</label>
                <div class="col-md-4">
                <input type="number" required ng-model="newItem.carbohydrates" class="form-control input-md">
                </div>
              </div>

            </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add Item</button>
        </div>
      </form>
    </div>
  </div>
</div>
